.about-wrapper {

    display: flex;
    flex-direction: column;
    flex: 2;
}

.about-wrapper>* {
    text-align: center;
}

.about-header {
    border-bottom: thin double black;
    width: fit-content;
    align-self: center;
}

.about-header-main {
    margin-bottom: 10px;
    font-weight: 700;
    color: var(--color-dark);
}

.about-content {
    text-align: left;
    border: 2px solid var(--color-accent);
    padding: 10px;
}

.about-content p {
    margin-bottom: 5px;
}

.decorator,
.decorator::before,
.decorator::after {
    content: "";
    width: 5px;
    height: 5px;
    background-color: var(--color-dark);
    border-radius: 50%;
}