/* PRODUCT PAGE (SINGLE VIEW) */

#prod-header {
    font-size: 4rem;
}

#basic-info {
    margin-bottom: 20px;
    padding: 10px;
    border: 4px solid darkgrey;
    font-size: 1.7rem;
}

.prod-info {
    border-bottom: var(--basic-border);
    width: fit-content;
    margin-bottom: 5px;
}

.product-section {
    display: flex;
    flex: 2;
    flex-flow: column;
    height: 100%;
}

#adv-info {
    font-size: 1.4rem;
    margin-bottom: 15px;
}

/* products (all view) */

.table-wrapper {
    display: flex;
    flex-direction: column;
    flex: 2;
}